body {
    margin: 0;
}


/* CALENDAR */

.calendar {
    display: grid;
    grid-template-columns: repeat(8, minmax(40px, 140px));
    border: 1px solid black;
}

.time-labels {
    background-color: blue;
}

.day {
    border: 2px solid red;
}

.day-title {
    height: 30px;
    padding: auto;
    text-align: center;
}

.container {
    background-color: #333;
    margin-top: 1px;
    height: 60px;
}

/* SIDEBAR */

.sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #245024;
    overflow-x: hidden;
    padding-top: 10px;
}

.matrix {
    background-color: aqua;
    width: 300px;
    height: 300px;
}

.task-list {
    background-color: rgb(12, 88, 164);
}

/* DRAGGABLE ITEMS */

.draggable-item {
    background-color: white;
    border: 1px solid black;
    cursor: move;
}

.task-header {
    display: grid;
    grid-template-columns: 74% 13% 13%;

    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
}

.task-header .task-title {           
    margin: 0px;
    background-color: red;
    font-weight: bold;
}

.task-header .task-difficulty {
    margin: 0px;
    background-color: yellow;
}

.task-header .task-impact {
    margin: 0px;
    background-color: yellow;
}

.task-description {
    display: grid;
    grid-template-columns: 90% 10%;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.task-description p {   /* contents */
    background-color: orange;
    margin: 0px;
}

.hidden {               /* hide contents*/
    display: none;
}

.draggable-item.dragging {
    opacity: .5;
}

.calendar-format {
    height: 60px; /* same as calendar slot height */
}

.task-list-format {
    border-radius: 7px;
    height: 90px;
}

.close-button {
    border-radius: 50%;
}